@import "compass/css3";

@include font-face('FiraCode',  font-files('/resources/fonts/FiraCode/FiraCode-Light.otf'));
@include font-face('RobotoMono',  font-files('/resources/fonts/RobotoMono/RobotoMono-Regular.ttf'));

$palette-pink: #F276CA;

/* Palette 1 */

/*$pal-bluedark: #20364b;
$pal-bluelight: #30485f;
$pal-green: #00c1b7;
$pal-gray: #ffffff;
$pal-orange: #ff6647;
$white: #ffffff;*/


/* Palette 2 */

/*$pal-bluedark: #f2eee8;
$pal-bluelight: #fffbf5;
$pal-green: #29246b;
$pal-gray: #646189;
$pal-orange: #646189;
$white: #221d66;*/


/* Palette 3 */

$pal-bluedark: #e8e8e8;
$pal-bluelight: #ffffff;
$pal-green: #00c1b7;
$pal-gray: #262626;
$pal-orange: #ff6647;
$white: #ffffff;